<li class="control-group nested-fields">
        <%= f.association(:genre, input_html: {class: "form-control"}) %>
         <%= f.input :movie_id, as: :hidden %>
    <%= link_to_remove_association "remove", f, class:"btn btn-red btn-xs" %>
</li>